.line.activated {
  animation: dash 1s linear infinite;
  stroke-dasharray: 20;
}
@keyframes dash {
  from {
    stroke-dashoffset: 100;
  }
}

#editor-panel {
  background-image: url('../../../../assets/images/tile.png');
  background-repeat: repeat;
  background-color: #f6f6f6;
  background-size: 30px;
  /*height: calc(100vh - 115px);*/
}

#download-cta {
  right: 30px;
}

@media screen and (min-width: 1680px) {
  .container-fluid {
    width: 85%;
  }
  .block-panel {
    max-width: 22%;
    flex: 0 0 22%;
  }
  #editor-panel {
    max-width: 78%;
    flex: 0 0 78%;
  }
  #download-cta {
    right: 180px;
  }
}

.node.active rect {
  fill: var(--primary-color-shade);
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
}
.node.active text {
  fill: #ffffff;
  font-weight: bold !important;
}
